@media screen and (max-width: 1200px) and (min-width: 900px)
    .c-home__introducing
        padding-top: calc(30% - 100px)
    .c-about p
        font-size: 15px
    .c-footer__contact 
        p
            font-size: 11px
        .o-contact_icons i
            width: 8%
@media screen and (max-width: 900px) and (min-width: 700px)
    .c-home__introducing
        padding-top: calc(40% - 100px)
    .c-about p
        font-size: 15px
    .c-footer
        height: 150px
        &__contact
            flex-direction: column
            height: 150px
            align-items: flex-end
            p
                width: 100%
                text-align: end
            p:fisrt-child
                padding-top: 15px
            .o-contact_icons i
                width: 10%
@media screen and (max-width: 700px) and (min-width: 500px)
    .c-home__introducing
        padding-top: calc(50% - 100px)
        p
            width: 80%
    .c-gallery
        .o-gallery-container
            grid-template-columns: repeat(auto-fill, minmax(40%, 1fr))
    .c-about
        h1
            font-size: 24px
        p
            font-size: 12px
    .c-counter__single-count
        p
            font-size: 10px
    .c-footer
        height: 150px
        &__contact
            flex-direction: column
            height: 150px
            align-items: flex-end
            p
                width: 100%
                text-align: end
            p:fisrt-child
                padding-top: 15px
            .o-contact_icons
                width: 40%
                i
                    width: 12%
@media screen and (max-width: 500px) and (min-width: 200px)
    nav
        width: 100vw
        ul
            margin: 0
            padding: 0
            font-size: 12px
            justify-content: flex-start
    .c-home
        height: 100vh
        &__introducing
            padding-top: calc(70% - 100px)
            p
                width: 80%
    .c-gallery
        ul li
            font-size: 12px
            padding: 5px 10px
            margin: 5px 0
            display: flex
            align-items: center
        .o-gallery-container
            grid-template-columns: repeat(auto-fill, minmax(90%, 1fr))
            .o-gallery-item
                &:nth-child(5)
                    grid-column-end: span 1
                    grid-row-end: span 1
                &:nth-child(6)
                    grid-column-end: span 1
                    grid-row-end: span 1
    .c-about
        flex-direction: column
        h1,
        p
            width: 90%
    .c-counter
        flex-direction: column
        height: auto
        &__single-count
            border-bottom: 1px solid #d3d3d3
            border-right: none
            &:last-of-type
                border-bottom: none
    .c-footer
        height: 150px
        &__contact
            flex-direction: column
            height: 150px
            align-items: flex-end
            p
                width: 100%
                text-align: center
            p:fisrt-child
                padding-top: 15px
            .o-contact_icons
                width: 80%
                margin: 0 auto
                justify-content: center
                i
                    width: 12%
@media screen and (max-width: 300px) and (min-width: 100px)
    nav
        flex-direction: column
        align-items: flex-start
        width: 100%
        margin-left: 5%
        ul
            width: 100%