::-webkit-scrollbar {
  width: 10px;
  background: white;
  z-index: 1; }

::-webkit-scrollbar-thumb {
  width: 10px;
  background: black; }

body {
  overflow-x: hidden;
  font-size: 100%;
  font-family: Montserrat; }

@keyframes hoverLine {
  0% {
    width: 0px;
    left: 50%; }
  100% {
    width: 100%;
    left: 0; } }

@keyframes blink {
  to {
    visibility: hidden; } }

.navigation {
  height: 100px;
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  z-index: 100; }
  .navigation__logotype {
    width: 50px;
    height: 50px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigation__logotype-letter {
      font-size: 1.6rem;
      font-family: 'Lobster', cursive; }
  .navigation__list {
    display: flex;
    justify-content: flex-end;
    list-style: none; }
    .navigation__list-item {
      margin: 10px;
      display: inline-block;
      position: relative; }
      .navigation__list-item::after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1.2em;
        width: 0px;
        border-bottom: 1.5px solid;
        margin-top: 5px; }
      .navigation__list-item:hover::after {
        width: 100%;
        animation-name: hoverLine;
        animation-duration: .6s; }
      .navigation__list-item:hover {
        cursor: pointer; }
    @media (max-width: 36em) {
      .navigation__list {
        font-size: .9rem;
        padding: 0; } }
  @media (max-width: 36em) {
    .navigation {
      width: calc(100% - 20px);
      margin: 0 10px; } }

.header {
  width: 100vw;
  height: calc(100vh - 100px);
  padding-top: 100px; }
  .header__container {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    margin-left: 10%; }
  .header__text {
    width: 50%;
    font-weight: lighter;
    line-height: 2; }
    .header__text--bold {
      width: 100%;
      font-weight: bold;
      margin: 0; }
    .header__text--span {
      animation: blink 0.5s steps(5, start) infinite;
      margin-top: -1px; }
    @media (max-width: 36em) {
      .header__text {
        width: 80%; } }
  .header__label {
    font-size: 3rem;
    font-weight: lighter;
    margin: 0; }

.gallery-section {
  height: auto;
  width: 80%;
  margin-left: 10%; }
  .gallery-section__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0; }
    .gallery-section__list-item {
      margin-left: 2%;
      text-align: center;
      position: relative;
      display: block;
      padding: 10px 20px;
      margin: 20px 0;
      transition: .7s; }
      .gallery-section__list-item:hover {
        cursor: pointer; }
      .gallery-section__list-item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        transform: scaleY(2);
        opacity: 0;
        transition: .7s; }
      .gallery-section__list-item:hover::before {
        transform: scaleY(1.2);
        opacity: 1; }
      .gallery-section__list-item--active::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        transform: scaleY(1.2); }
      @media (max-width: 48em) {
        .gallery-section__list-item {
          font-size: .9rem;
          padding: 10px; } }
  .gallery-section__images-container {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 40vh;
    grid-auto-flow: dense;
    padding: 10px; }
    @media (max-width: 48em) {
      .gallery-section__images-container {
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr)); } }
    @media (max-width: 36em) {
      .gallery-section__images-container {
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr)); } }
  .gallery-section__image {
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .gallery-section__item {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    cursor: pointer; }
    .gallery-section__item:nth-child(5) {
      grid-column-end: span 2;
      grid-row-end: span 2; }
      @media (max-width: 36em) {
        .gallery-section__item:nth-child(5) {
          grid-column-end: span 1;
          grid-row-end: span 1; } }
    .gallery-section__item:nth-child(6) {
      grid-column-end: span 1;
      grid-row-end: span 2; }
      @media (max-width: 36em) {
        .gallery-section__item:nth-child(6) {
          grid-column-end: span 1;
          grid-row-end: span 1; } }
    .gallery-section__item--big {
      grid-column-end: span 2;
      grid-row-end: span 2;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      cursor: pointer; }
      .gallery-section__item--big .gallery-section__image {
        min-width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
      @media (max-width: 36em) {
        .gallery-section__item--big {
          grid-column-end: span 1;
          grid-row-end: span 1; } }

.footer {
  width: 100vw;
  height: 150px;
  background-color: rgba(212, 212, 212, 0.19); }
  .footer__contact {
    width: 80vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%; }
    @media (max-width: 36em) {
      .footer__contact {
        flex-direction: column; } }
  .footer__text {
    width: 50%;
    opacity: .5;
    font-size: .9rem; }
    .footer__text--span {
      width: 100%; }
    @media (max-width: 36em) {
      .footer__text {
        width: 100%;
        text-align: right; } }
  .footer__icons {
    width: 50%;
    display: flex;
    opacity: .5;
    justify-content: flex-end; }
    @media (max-width: 36em) {
      .footer__icons {
        width: 100%; } }
  .footer__icon {
    margin: 10px;
    transition: scale 2s ease-in-out;
    background-image: -webkit-linear-gradient(left, grey 25%, #FF3CAC 37.5%, #46e4ea, #449fe2 62.5%, grey 85%);
    background-image: linear-gradient(90deg, grey 25%, #FF3CAC 37.5%, #46e4ea, #449fe2 62.5%, grey 85%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: color 200ms linear;
    width: 5%;
    text-align: center; }
    .footer__icon:hover {
      cursor: pointer;
      transform: scale(1.5);
      background-position: left center;
      color: #ef9671;
      transition: background-position 1000ms ease-out; }

.about-section {
  margin: 10% 10% 2% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .about-section__text {
    width: 50%;
    opacity: .4;
    line-height: 1.7; }
    @media (max-width: 48em) {
      .about-section__text {
        width: 100%; } }
  .about-section__header {
    width: 40%;
    opacity: .6;
    font-weight: lighter;
    margin: 40px; }
    .about-section__header--span {
      font-weight: bold;
      margin: 0; }
    @media (max-width: 48em) {
      .about-section__header {
        width: 100%; } }
  @media (max-width: 48em) {
    .about-section {
      flex-direction: column; } }

.counter-section {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .counter-section__single-count {
    width: 20%;
    text-align: center;
    border-right: 1px solid lightgrey; }
    .counter-section__single-count:last-of-type {
      border-right: none; }
    @media (max-width: 48em) {
      .counter-section__single-count {
        border-right: none;
        border-bottom: 1px solid lightgrey; }
        .counter-section__single-count:last-of-type {
          border-bottom: none; } }
  .counter-section__header {
    color: grey; }
  .counter-section__text {
    font-size: .9rem;
    font-weight: bold;
    opacity: .2; }
  @media (max-width: 48em) {
    .counter-section {
      flex-direction: column;
      height: auto; } }
